@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --main-font: "Poppins", sans-serif;
  --main-color: #b4869f;
  --secondary-color: #b4869f94;
  --text-color: #131313;
  --bg-color: #fdf4f5;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  color: black;
  background-color: var(--bg-color);
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  .flex {
    flex-wrap: wrap;
  }
  html {
    font-size: 8px;
  }
  .testimonia .slider {
    transform: rotate(90deg);
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .flex {
    flex-wrap: wrap;
  }
  html {
    font-size: 8px;
  }
  .testimonia .slider {
    transform: rotate(90deg);
  }
}
